@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

:root {
  /* Colors */
  --c-light: #f8f6f5;
  --c-accent-light: #86a4ce;
  --c-primary: #2563eb;
  --c-accent-dark: #8275a2;
  --c-dark: #1f2937;
  --c-body: var(--c-dark);
  --c-text: var(--c-light);
  --c-button: var(--c-primary);
  --c-border: var(--c-accent-dark);
  /* Sizes */
  --w-board: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  text-align: center;
  background-color: var(--c-body);
  color: var(--c-text);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  border-bottom: 3px dotted var(--c-border);
}

header {
  padding: 1rem;
}

button {
  padding: 10px;
  border: none;
  min-width: 200px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--c-button);
  color: var(--c-text);
}

.container {
  width: var(--w-board);
  margin: 0 auto;
}

#message {
  min-height: 1.8rem;
  font-size: 1.8rem;
  line-height: 1;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 4px;
  width: var(--w-board);
  height: var(--w-board);
  background-color: var(--c-border);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-body);
  color: var(--c-text);
  font-size: 90px;
  line-height: 1;
  user-select: none;
}

.cell-O {
  color: var(--c-primary);
}

.cell span {
  animation-name: size;
  animation-duration: 0.5s;
}

.game-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes size {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@media (width >= 48em) {
  :root {
    --w-board: 450px;
  }

  button {
    font-size: 1.5rem;
    background-color: transparent;
  }

  button:hover {
    background-color: var(--c-button);
  }

  #message {
    min-height: 3rem;
    font-size: 3rem;
  }

  .cell {
    font-size: 120px;
  }

  .game-controls {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
